@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
*{
    scroll-behavior: smooth !important;
}
.ff_inter {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: "KonexyPersonalUse";
    src: url('./assets/fonts/konexypersonaluse.otf');
}

.ff_KonexyPersonalUse {
    font-family: "KonexyPersonalUse";
}

@font-face {
    font-family: "Gilroy";
    src: url('./assets/fonts/Gilroy-Light.otf');
}

.ff_Gilroy {
    font-family: "Gilroy", sans-serif;
}
.slick-track{
    display: flex !important;
    align-items: center !important;
}
.back_to_top {
    position: fixed;
    right:1%;
    bottom: 1%;
    background-color: #7919AD;
    border-radius: 50px;
    cursor: pointer;
    filter: drop-shadow(0px 5px 8px #7919AD);
    -webkit-animation: mover 3000ms infinite ease-in-out !important;
    animation: mover 3000ms infinite ease-in-out !important;
}

@keyframes mover {
    0% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0px);
    }
}